# ===== Configuración de Base de Datos =====
# Para H2 (archivo local)
DB_URL=jdbc:h2:file:./data/librotech_db
DB_DRIVER=org.h2.Driver
DB_USER=sa
DB_PASSWORD=
DB_TYPE=h2

# Para PostgreSQL (descomenta y modifica si usas PostgreSQL)
# DB_URL=jdbc:postgresql://localhost:5432/name_db
# DB_DRIVER=org.postgresql.Driver
# DB_USER=postgres
# DB_PASSWORD=your_password
#DB_TYPE=postgres

